force-app/main/default/flows/Create_Thread.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Thread</name>
        <label>Create Thread</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <actionName>CreateThread.CreateThread</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Which_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>CreateThread.CreateThread</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Output</name>
        <label>Assign Output</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>threadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Thread.2XX.id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contacts_Thread</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Which_Status</name>
        <label>Which Status?</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>X200</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Thread.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Output</targetReference>
            </connector>
            <label>200</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Thread {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Thread</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Contacts_Thread</name>
        <label>Update Contact&apos;s Thread</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Thread__c</field>
            <value>
                <elementReference>threadId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Thread</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>threadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
