force-app/main/default/flows/HK24_Dialog_Formatter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_First_Message</name>
        <label>Assign First Message</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>firstDialog</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Messages_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Messages_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Second_Message</name>
        <label>Assign Second Message</label>
        <locationX>528</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>secondDialog</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Messages_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Messages_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Third_Message</name>
        <label>Assign Third Message</label>
        <locationX>792</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>thirdDialog</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Messages_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Messages_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Counter</name>
        <label>Increment Counter</label>
        <locationX>660</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Counter_Position</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Counter_Position</name>
        <label>Counter Position</label>
        <locationX>660</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Messages_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pos_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_First_Message</targetReference>
            </connector>
            <label>Pos 1</label>
        </rules>
        <rules>
            <name>Pos_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Second_Message</targetReference>
            </connector>
            <label>Pos 2</label>
        </rules>
        <rules>
            <name>Pos_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Third_Message</targetReference>
            </connector>
            <label>Pos 3</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>HK24 - Dialog Formatter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HK24 - Dialog Formatter</label>
    <loops>
        <name>Messages_Loop</name>
        <label>Messages Loop</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <collectionReference>dialogList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_Counter</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Messages_Loop</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>dialogList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>firstDialog</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>secondDialog</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thirdDialog</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
