force-app/main/default/flows/HK24_Message_Callout.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Message_Callout</name>
        <label>Message Callout</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <actionName>Message.Message</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Which_Status_Code</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>MessageBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Message.Message</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_option_to_List</name>
        <label>Add option to List</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>options</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Options</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Options</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Message_Body</name>
        <label>Assign Message Body</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>MessageBody.context</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>context</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageBody.message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MessageBody.thread</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>thread</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Message_Callout</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Which_Status_Code</name>
        <label>Which Status Code?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>X200</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Message_Callout.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Format_Dialogs</targetReference>
            </connector>
            <label>200</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>HK24 - Message Callout {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HK24 - Message Callout</label>
    <loops>
        <name>Loop_through_Options</name>
        <label>Loop through Options</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>Message_Callout.2XX.options</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_option_to_List</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Message_Body</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Format_Dialogs</name>
        <label>Format Dialogs</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Loop_through_Options</targetReference>
        </connector>
        <flowName>HK24_Dialog_Formatter</flowName>
        <inputAssignments>
            <name>dialogList</name>
            <value>
                <elementReference>Message_Callout.2XX.dialogs</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>firstDialog</assignToReference>
            <name>firstDialog</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>secondDialog</assignToReference>
            <name>secondDialog</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>thirdDialog</assignToReference>
            <name>thirdDialog</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>context</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>firstDialog</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MessageBody</name>
        <apexClass>ExternalService__Message_Message_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>options</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>secondDialog</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thirdDialog</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thread</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
