force-app/main/default/flows/HK24_Welcome_Callout.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Welcome_Callout</name>
        <label>Welcome Callout</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <actionName>Welcome.Welcome</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Which_Status_Returned</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>WelcomeBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Welcome.Welcome</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Welcome_Body</name>
        <label>Assign Welcome Body</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>WelcomeBody.name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WelcomeBody.thread</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Thread__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WelcomeBody.id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Welcome_Callout</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Which_Status_Returned</name>
        <label>Which Status Returned?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>X200</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Welcome_Callout.responseCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Format_Welcome_Dialogs</targetReference>
            </connector>
            <label>200</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>HK24 - Welcome Callout {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HK24 - Welcome Callout</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Welcome_Body</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Format_Welcome_Dialogs</name>
        <label>Format Welcome Dialogs</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <flowName>HK24_Dialog_Formatter</flowName>
        <inputAssignments>
            <name>dialogList</name>
            <value>
                <elementReference>Welcome_Callout.2XX.dialogs</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>firstDialog</assignToReference>
            <name>firstDialog</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>secondDialog</assignToReference>
            <name>secondDialog</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>thirdDialog</assignToReference>
            <name>thirdDialog</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>firstDialog</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>secondDialog</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thirdDialog</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WelcomeBody</name>
        <apexClass>ExternalService__Welcome_Welcome_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WelcomeMessages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
